
:root {
    --lightBlue: #02c4ff;
    --black: #000000;
    --darkPurple: #413f54;
    --offBlack: #30292f;
    --shadow: rgba(128, 128, 128, .5)
}


* {
    margin: 8px;
    font-family: sans-serif;
}


body {
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
}


header {
    width: 100%;
    text-align: center;
    background-image: linear-gradient(to bottom right, var(--darkPurple), var(--lightBlue));
    color: var(--black);
    border-radius: 8px;
}

aside {
    
    width: 20%;
    padding: 8px;
    text-align: center;
}

aside>h2 {
    color: var(--darkPurple);
    border-bottom: 2px solid var(--shadow);
}

#city-search {
    resize: none;
    margin: 0 auto;
    width: 65%;
}

.submit {
    display: block;
    margin: 4px auto;
    border: none;
    background-color: var(--lightBlue);
    color: var(--black);
    border-radius: 8px;
    padding: 4px;
    width: 65%;
}

.submit:hover {
    cursor: pointer;
    transform: translateY(-4px);
    transition: all 250ms ease;
    color: var(--offBlack);
    box-shadow: 5px 5px 5px var(--shadow);
}

.history button {
    display: block;
    margin: 6px auto;
    border: none;
    background-color: var(--darkPurple);
    color: var(--black);
    width: 65%;
    border-radius: 8px;
    padding: 4px;
}

.history button:hover {
    cursor: pointer;
    transform: translateY(-4px);
    transition: all 250ms ease;
    background-color: var(--lightBlue);
    color: var(--black);
    box-shadow: 5px 5px 5px var(--shadow);
}

.current-city {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-flow: row wrap;
    float: right;
}

.current-city section {
    display: flex;
    width: 100%;
    justify-content: center;
    float: right;
}

.current-list {
    width: 100%;
    text-align: center;
    margin: 0 0 0 35%;
    float: right;
}

.current-list p {
    width: 20%;
    float: right;
}

.current-list span {
    border-radius: 4px;
    padding: 4px;
    color: var(--black);
    float: right;
   
}

.current-city>p {
    width: 100%;
    font-size: large;
    font-weight: bold;
    text-shadow: 2px 2px var(--shadow);
    float: right;
}

.five-days {
    margin: 8px;
    background-color: var(--lightBlue);
    padding: 8px;
    border-radius: 8px;
    color: var(--black);
    justify-content: flex-end;
    float: right;
}

.five-days:hover {
    transform: scale(1.1);
    transition: all 250ms ease;
}